body {
  font-family:'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 1px;
  font-family:'Source Sans Pro', sans-serif;
  color: #182a4a;
  font-size: 38px;
  line-height: 37px;
  font-weight: 300;
  text-align: left;
}
h2 {
  margin-bottom: 10px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: left;
}
h3 {
  margin: 0px;
  font-family:'Source Sans Pro', sans-serif;
  color: #182a4a;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 0px 0px 10px;
  color: #8a949d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
h5 {
  display: inline;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  text-align: left;
  text-transform: none;
}
h6 {
  margin: 10px 0px;
  font-family: Arvo, sans-serif;
  color: #182a4a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Lora, sans-serif;
  color: #182a4a;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  list-style-type: disc;
}
.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: #25c485;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #b5b5b5;
}
.header {
  position: static;
  display: block;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  background-image: url('../images/cityhall-cover-v2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: black 0px 3px 0px 0px inset;
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 72px;
  line-height: 72px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}
.header.sub-page {
  background-image: url('../images/profile-dude-blue.jpg');
  background-position: 50% 100%;
}
.section {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section.grey {
  background-color: #f0f0f0;
}
.section.green {
  width: 958px;
  padding-bottom: 32px;
  background-color: #e7e8ea;
}
.section.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e7e8ea;
}
.nav-link {
  display: block;
  margin-bottom: 8px;
  background-color: rgba(24, 42, 74, 0.49);
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #166bcc;
}
.navigation {
  position: fixed;
  z-index: 10;
  padding: 33px 19px 38px;
  border-top: 3px solid #25c485;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
}
.logo {
  margin-bottom: 22px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 33px;
  line-height: 36px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}
.align-right {
  position: relative;
  display: block;
  margin-top: 3px;
  padding-right: 25px;
  text-align: left;
}
.image {
  margin-bottom: 20px;
}
.thumbnail {
  margin-right: 21px;
  margin-bottom: 26px;
  padding: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
}
.journal-entry {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px 20px 0px;
  border: 1px solid #ddd;
  background-color: rgba(226, 46, 65, 0);
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #333;
  text-decoration: none;
}
.journal-entry:hover {
  background-color: #f2f7f6;
}
.journal-entry.opportunity {
  margin-top: 0px;
  padding-top: 10px;
  background-color: rgba(226, 46, 65, 0.05);
}
.journal-entry.approach {
  margin-top: 0px;
  padding-top: 10px;
  background-color: rgba(228, 124, 93, 0.05);
}
.journal-entry.next {
  margin-top: 0px;
  padding-top: 10px;
  background-color: rgba(89, 179, 144, 0.14);
}
.logo-link {
  color: #333;
  text-decoration: none;
}
.field {
  height: 53px;
  border: 1px solid #d1e6dd;
  box-shadow: transparent 0px 1px 0px 0px inset;
}
.field:focus {
  border-color: #24c786;
  box-shadow: transparent 0px 0px 8px 0px inset;
}
.bio {
  margin-top: 30px;
  color: #182a4a;
  font-weight: 300;
  text-align: center;
}
.intro {
  display: inline-block;
  margin-top: 40px;
  margin-left: 38px;
  padding-right: 252px;
  padding-left: 0px;
  font-size: 28px;
  line-height: 28px;
}
.intro-descrip {
  display: inline;
  max-width: 600px;
  background-color: rgba(24, 42, 74, 0.6);
  font-family:'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  text-transform: uppercase;
}
.opening1 {
  display: inline-block;
  max-width: 800px;
  margin-top: 76px;
  margin-left: 38px;
  padding-top: 0px;
  padding-left: 0px;
  background-color: rgba(24, 42, 74, 0.49);
  font-family: Arvo, sans-serif;
  font-size: 61px;
  font-weight: 400;
}
.opening1.opening2 {
  display: inline;
  overflow-x: visible;
  overflow-y: visible;
  margin-top: 19px;
  margin-left: 0px;
  clear: none;
  font-size: 32px;
  line-height: 0px;
}
.link-white {
  color: white;
  text-decoration: underline;
}
.link-paragraph {
  color: #182a4a;
  font-weight: 600;
  text-decoration: underline;
}
.paragraph-project {
  margin-top: 6px;
  margin-bottom: 24px;
  background-color: rgba(24, 42, 74, 0.49);
  color: white;
  font-size: 18px;
  line-height: 22px;
}
.paragraph-project.paragraph-projects {
  background-color: transparent;
  color: #182a4a;
  font-size: 16px;
  line-height: 24px;
}
.journal-image {
  display: block;
  margin: 24px auto 30px;
  text-align: center;
}
.red {
  display: inline-block;
  padding-left: 0px;
  color: #e22e41;
}
.orange {
  display: inline-block;
  padding-left: 0px;
  color: #e47c5d;
}
.green {
  display: inline-block;
  padding-left: 0px;
  color: #59b390;
}
.events {
  margin-bottom: 40px;
  font-family: Lora, sans-serif;
  color: #182a4a;
  font-size: 17px;
  line-height: 28px;
}
.link-press {
  display: block;
  padding-bottom: 12px;
  font-family:'Source Sans Pro', sans-serif;
  color: #182a4a;
  font-size: 17px;
  font-weight: 700;
}
.link-press:hover {
  color: #8a949d;
}
.link-footer {
  color: #182a4a;
}
.h3-link {
  color: #182a4a;
}
.box {
  margin-bottom: 20px;
  padding: 15px 25px 1px;
  border: 1px solid #ddd;
  background-color: rgba(226, 46, 65, 0.07);
}
.box.mango {
  border-style: solid;
  background-color: rgba(228, 124, 93, 0.09);
}
.box.seafoam {
  background-color: rgba(89, 179, 144, 0.09);
}
@media (max-width: 991px) {
  h1 {
    margin-bottom: 15px;
    font-size: 34px;
  }
  p {
    font-size: 14px;
    line-height: 23px;
  }
  .header {
    height: 400px;
  }
  .align-right {
    padding-right: 10px;
  }
  .headshot {
    position: static;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    float: none;
    clear: both;
    text-align: center;
  }
  .bio {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
  }
  .intro {
    display: inline-block;
    margin-left: 38px;
    line-height: 24px;
  }
  .intro-descrip {
    font-size: 18px;
    line-height: 18px;
  }
  .opening1 {
    font-size: 52px;
    line-height: 60px;
  }
  .paragraph-project {
    font-size: 14px;
  }
  .paragraph-project.paragraph-projects {
    font-size: 13px;
  }
  .events {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  h1 {
    padding-left: 0px;
  }
  h6 {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .header {
    height: 305px;
    background-attachment: scroll;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .section.footer {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .navigation {
    position: static;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: transparent 0px 0px 0px 1px;
  }
  .align-right {
    text-align: left;
  }
  .thumbnail {
    margin-right: 14px;
    margin-bottom: 15px;
  }
  .intro {
    padding-right: 27px;
  }
  .intro-descrip {
    font-size: 20px;
    line-height: 24px;
  }
  .opening1 {
    display: inline;
    font-size: 40px;
    line-height: 40px;
  }
  .container-margin {
    padding-right: 8px;
    padding-left: 8px;
  }
  .container-footer {
    padding-bottom: 0px;
  }
}
@media (max-width: 479px) {
  h1 {
    padding-left: 0px;
  }
  h6 {
    margin-right: 12px;
    margin-left: 12px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .header {
    height: 175px;
  }
  .intro {
    display: inline-block;
    margin-top: 14px;
    padding-right: 39px;
    font-size: 0px;
    line-height: 16px;
  }
  .intro-descrip {
    font-size: 13px;
    line-height: 12px;
  }
  .opening1 {
    font-size: 20px;
    line-height: 24px;
  }
  .link-paragraph {
    color: #182a4a;
    font-weight: 600;
  }
  .link-paragraph:hover {
    color: #8a949d;
    font-weight: 600;
  }
  .container-footer {
    padding-bottom: 0px;
  }
}

